<table>
  <%= link_to "create new article",new_article_path %>
  <tr>
    <th>Title</th>
    <th>description</th>
  </tr>
  <% obj.each do |a| %>
    <tr>
      <td> <%= link_to a.title ,article_path(a.id) %></td>
      <td> <%= a.description %></td>
      <% if logged_in? && current_user==a.user || current_user.admin? %>
          <td><small>Created by: <%= a.user.username if a.user %>
            <%= time_ago_in_words(a.created_at) %> ago, Last updated:
            <%= time_ago_in_words(a.updated_at) %> ago</small></td>
          <td><%= link_to "edit",edit_article_path(a.id) %> | </td>
<!--          <td><%#= link_to "show",article_path(a.id) %></td>-->
          <td><%= link_to "delete",article_path(a.id), method: :delete, data: {confirm: "are you sure?"} %></td>
        <%end %>
      <!--    <td><%#= link_to "delete",edit_articles_path %>></td>-->
    </tr>
  <% end %>
</table>