<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <%end %>
  </ul>
<%end %>
<%# @article.each do |art|%>
<%#=art %>
<%# end %>

<%= form_for @article do |f| %>
  <p>
    <%=f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%=f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <%= f.submit %>
<%end %><br/><br/>
<%= link_to "back to articles listing",articles_path %>