<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <%end %>
  </ul>
<%end %>
<%# @article.each do |art|%>
<%#=art %>
<%# end %>

<%= form_for @user do |f| %>
  <p>
    <%=f.label :username %><br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%=f.label :email %><br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%=f.label :password %><br/>
    <%= f.password_field :password %>
  </p>
  <%= f.submit(@user.new_record? ? "Sign up" : "update your account", class: "btn btn-success btn-lg") %>
<%end %><br/><br/>
<%= link_to "back to articles listing",articles_path %>